.navbar-dark {
  background-color: #141414 !important;
}

.buscador {
  border: none;
  background-color: transparent;
  color: white;
}

.buscador {
  outline: none !important;
}

.lni-search-alt {
  color: gray;
  margin: 12px 0px 0px 10px;
}

.input-group{
  border-radius: 5px;
  background-color: #282828;
}

input, input:focus{
  border-width: 0px;
  outline:0; /* I have also tried outline:none */
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
