hr {
  border: 1px solid #282828 !important;
}

.movie-title {
  font-size: medium;
  font-weight: 300;
}

.movie-title > a {
  color: white;
}

.movie-title > a:hover {
  text-decoration: none;
}

.rate {
  color: white;
  padding: 3px;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  hr {
    display: none;
  }
  h3 {
    font-size: larger;
    margin-bottom: 20px;
  }
  .poster {
    width: 100% !important;
  }
  .col-sm-6 {
    width: 50%;
  }
  .movie-title {
    min-height: 40px;
  }
}
