<div class="swiper-container mt-3 animate__animated animate__fadeIn">
  <h1>Lo más visto</h1>
  <div class="swiper-wrapper">
    <div *ngFor="let movie of movies" class="swiper-slide"
         [ngStyle]="{'background-size':'cover', 'background-image': 'url(https://image.tmdb.org/t/p/w1280'+movie.backdrop_path+')'}"
         routerLink="{{'/movie/' + movie.id}}">
      <div class="movie-description">
        <h4><strong>{{movie.title}}</strong></h4>
        <p>{{movie.overview|slice:0:100}}...</p>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev" (click)="onSlidePrev()"></div>
  <div class="swiper-button-next" (click)="onSlideNext()"></div>
</div>
