.swiper-container {
  height: 400px;
  width: 100%;
  max-width: 1105px;
  border-radius: 5px;
}

.swiper-button-next, .swiper-button-prev {
  color: white;
  opacity: 0.5;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1;
}

.movie-description {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 3rem;
  padding: 15px 30px 5px 30px;
  position: absolute;
  width: 100%;
  text-align: left !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide:hover {
  cursor: pointer;
}

.swiper-slide img {
  display:block;
  width: 100%;
  height: auto;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

@media screen and (max-width: 768px) {
  .movie-description {
    bottom: 2rem;
  }
  .movie-description p {
    font-size: smaller;
  }
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}
