body {
    background-color: #090909;
    font-family: 'Muli', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr{
    color: white;
}

.navbar-brand {
    font-weight: 200;
    color: #bd4c5f !important;
    max-width: 1160px;
}

.logo {
  width: 120px;
}

.badge {
  font-weight: 300;
}

.btn-outline-success {
    border-color: #bd4c5f !important;;
    color: #bd4c5f !important;;
}

.btn-outline-success:hover {
    background-color: #272a36;
    color: white !important;
}

.block {
    display:block;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  .swiper-container {
    width: 93% !important;
  }
}

.modal-backdrop.show {
  z-index: -1 !important;
}

@media screen and (min-width: 1200px) {
  .poster {
    min-height: 390px;
  }
}

.poster {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.poster:hover {
  transform: scale(1.01);
  transition: transform .2s ease;
}
