.poster {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  margin-top: 10px;
}

.modal-header {
  padding: 1rem 1rem 0 1rem;
  border-bottom: none;
}

.close {
  font-size: 2.5rem;
  font-weight: 100;
  color: #fff;
}

.modal-content {
  background-color: #000000;
  margin: 30px;
}

.modal-dialog {
  max-width: 650px;
}

#exampleModal {
  background-color: #000 !important;
}

.player {
  background-color: white;
  color: #141414;
}

.rate {
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.bg-danger {
  background-color: #dc3545!important;
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
}

star-rating {
  display: inline-table;
}

.back {
  float: right;
  margin-right: 1rem;
}

.genre {
  margin-right: 5px;
}

hr {
  border-top: 1px solid #333;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin: 1.5rem 0;
  }
  .back {
    float: none;
    margin-left: 0.1rem;
    margin-bottom: 30px;
  }
  .modal-dialog {
    max-width: 100%;
  }
  .modal-content {
    margin: 0;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .player {
    width: 100%;
  }
  .actor-name {
    font-size: 0.7em !important;
  }
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  width: 100px;
  height: auto;
}

.actor-name {
  color: #fff;
  font-size: 0.8rem;
  padding-top: 5px;
}

.swiper-slide {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  position: relative;
  transition-property: transform;
}


